.webtoonBoxInfo {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  & > * {
    margin-bottom: 5px;
  }
  & .addInfo {
    display: flex;
    justify-content: space-between;
  }

  & .titleSection {
    width: 100%;
    text-align: start;
    overflow: hidden;
    & > a {
      width: 100%;
      font-weight: bold;
      display: inline-block;
      text-align: start;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  & .authorSection {
    & > a {
      width: 100%;
      display: inline-block;
      text-align: start;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
