.swiListWrapper {
  & .emptySWIList {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .swiList {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;
    overflow-y: auto;

    & .swiListElement {
      display: flex;
      align-items: center;

      & .hoverCheckbox {
        width: 0px; // 위치 고정
        margin-bottom: 20px;
      }

      & .webtoonContainer {
        margin-left: 20px;
      }
    }

    & .swiListElement:hover {
      input[type='checkbox'] {
        appearance: checkbox;
      }
    }
  }

  & .swiList::-webkit-scrollbar {
    width: 5px;
  }
  & .swiList::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 5px;
  }
  & .swiList::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-1);
    border-radius: 5px;
  }
  & .swiList::-webkit-scrollbar-button {
    display: none;
  }
}
