.popupWrapper {
  background-color: var(--color-white);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  width: max-content;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  width: 120px;
  & .popupItem {
    padding: 15px 10px;
    border-radius: 10px;
    width: 100%;

    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  & .popupItem:hover {
    background-color: var(--color-gray-2);
  }
}

.profilePopup {
  position: relative;
  & > div:first-child {
    cursor: pointer;
  }

  & > div:last-child {
    position: absolute;
    top: 55px;
    right: 0px;
  }
}
