.popupWrapper {
  background-color: var(--color-white);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  width: max-content;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  cursor: pointer;

  & > a {
    width: 100%;
  }

  & .popupItem {
    padding: 15px 30px;
  }

  & .popupItem:hover {
    background-color: var(--color-gray-2);
  }
}

.webtoonPopup {
  position: relative;
  width: fit-content;
  & > div:first-child {
    cursor: pointer;
  }

  & .popupInner {
    position: absolute;
    top: 24px;
    left: 24px;
  }
}
