.newStorageDialog {
  padding: 20px;
  width: 500px;

  .inputSection {
    span {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: var(--color-white);
      width: 100%;
      font-size: 12px;
    }
  }

  & .titleSection {
    margin: 10px 0;

    span {
      margin-bottom: 5px;
    }
  }

  & .introSection {
    margin-bottom: 5px;

    span {
      margin-bottom: 5px;
    }

    textarea {
      resize: none;
      width: 100%;
      height: 200px;
      background-color: var(--color-bg);
      border: 1px solid var(--color-border-primary);
      padding: 10px;
      border-radius: 10px;
      font: inherit;
      color: white;
    }

    textarea:focus {
      outline: none;
      border: 2px solid var(--color-white);
    }
  }

  & .addTagSection {
    & .tagSection {
      input:focus {
        border-bottom: solid 2px var(--color-white);
      }

      & > span {
        margin: 6px 0;
      }
      & .tagList {
        display: flex;
        width: fit-content;
        height: fit-content;
        margin: 6px 0;
        & .tagWrapper {
          position: relative;
          cursor: pointer;
          min-width: 40px;
          text-align: center;

          & > div {
            width: 100%;
          }

          &:not(:last-child) {
            margin-right: 5px;
          }

          &:hover {
            & > div {
              animation: fadeOut 0.3s ease-in-out;

              @keyframes fadeOut {
                0% {
                  transform: translateY(0px);
                  opacity: 1;
                }
                100% {
                  transform: translateY(10px);
                  opacity: 0;
                }
              }
            }
            &::before {
              content: '삭제';
              position: absolute;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 10px;
              background-color: var(--color-red);
              color: var(--color-white);
              display: flex;
              justify-content: center;
              align-items: center;
              animation: fadeIn 0.3s ease-in-out;
              z-index: 10;

              @keyframes fadeIn {
                0% {
                  opacity: 0;
                  top: -10px;
                }
                100% {
                  opacity: 1;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  & .privacySection {
    path {
      fill: var(--color-white);
    }

    & .buttonSection {
      width: 100%;
      display: flex;
      margin: 5px 0 5px 0;

      & .publicButton {
        margin-right: 5px;
      }
      & .clickedButton {
        border-radius: 5px;

        & > button {
          color: var(--color-bg);
          background-color: var(--color-white);
          path {
            fill: var(--color-black);
          }
        }
      }
    }
  }

  .buttonWrapper {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;

    & > .buttonArea {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 200px;
      column-gap: 10px;

      & > button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 1px solid var(--color-white);
      }
    }
  }
}
