:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-placeholder: #cacaca;
  --color-gray-1: #888888;
  --color-gray-2: #d9d9d9;

  --color-bg: #1e1e1e;
  --color-red: #ff7878;
  --color-red-2: #ff0000;
  --color-yellow: #fffd54;
}
