.enterpriseButtonList {
  display: flex;

  & > button:not(:last-child) {
    margin-right: 10px;
  }

  & > button > img {
    border-radius: 20px;
  }

  & > button {
    opacity: 0.4;
  }

  & > button.selected {
    opacity: 1;
  }
}
