.tagList {
  &.horizontal {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 2px;

    &.reviewGap {
      column-gap: 5px;
    }

    &.storageGap {
      column-gap: 10px;
    }
  }

  &.vertical {
    display: flex;
    width: 240px;
    flex-wrap: wrap;
    gap: 2px;
  }
}
