.textButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: var(--color-white);

  // Size
  &.small {
    font-size: 12px;
  }
  &.medium {
    font-size: 16px;
  }
  &.large {
    font-size: 20px;
  }

  &.bold {
    font-weight: bold;
  }

  //design

  &.primary {
    background-color: var(--color-white);
    color: var(--color-bg);
    border-radius: 5px;
  }

  &.inverse {
    background-color: var(--color-bg);
    color: var(--color-white);
    border-radius: 5px;
  }

  &.privacy {
    padding: 2px 24px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 5px;
  }
}
