.reviewCard {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-border-primary);
  padding: 15px;
  row-gap: 3px;
  height: fit-content;

  & .reviewHeader {
    display: flex;
    justify-content: space-between;
  }

  & .profileArea {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  & .addtionalInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & > span:last-child {
      color: var(--color-border-primary);
      font-size: 14px;
    }
  }

  & .reviewContents {
    font-size: 16px;
    font-weight: 300;
    flex: 1;
    line-height: 20px;
    white-space: pre-wrap;
  }

  & .tagContents {
    display: flex;
    margin-top: 5px;
  }

  & .likeArea {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;

    & > button {
      border: 1px solid var(--color-border-primary);
      color: var(--color-border-primary);
      padding: 8px 12px;
      border-radius: 10px;
    }

    & > button[aria-checked='true'] {
      border: 1px solid var(--color-red);
      background-color: var(--color-red);
      color: var(--color-white);
    }

    & > button:disabled {
      background-color: var(--color-red-disabled);
      color: var(--color-white);
      cursor: pointer;
      border: 1px solid transparent;
    }
  }
}
