.profileButton {
    border-radius: 50%; // 원 모양
    // Size
    &.review {
        width: 11px;
        height: 11px;
    }
    &.header {
        width: 60px;
        height: 60px;
    }
    &.storage {
        width: 113px;
        height: 113px;
    }
    &.mypage {
        width: 202px;
        height: 202px;
    }
}