.profileButton {
  // Size
  &.review {
    width: 24px;
    height: 24px;
  }

  &.header {
    width: 48px;
    height: 48px;
  }

  &.storage {
    width: 113px;
    height: 113px;
  }

  &.mypage {
    width: 202px;
    height: 202px;
  }
}
