.emptyStorages {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.storageList {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  gap: 20px 10px;
  justify-content: center;
}
