.authBackgroundWrapper {
  height: 100vh;
  & .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url('/images/login-background.png');
    background-size: cover;
    z-index: -1000;
  }

  .authContentsWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
